<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>

<body>
<br/>

<form class="col s12" th:action="@{/login}" method="post">
    <div class="row">
        <div class="input-field col s6">
            <input type="text" name="username" min="3" max="50" required="required" id="login" class="validate"/>
            <label for="login">Enter Login </label>
        </div>
        <div class="input-field col s6">
            <input type="password" name="password" max="30" min="3" required="required" id="pass"/>
            <label for="pass">Enter Password</label>
        </div>
    </div>
    <div class="waves-button-input center">
        <input class="waves-effect waves-light btn center" type="submit" value="Sign In"/>
    </div>
</form>

<p></p>

<div th:if="${param.error}">
    Invalid username or password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<p></p>
<p>Go to <a th:href="@{/}">Home</a></p>

</body>
</html>