<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form action="#" th:action="@{/users/register}" th:object="${user}" method="post">
    <p>First Name</p>
    <input placeholder="Entrer User Name" th:field="*{username}" type="text"/>
    <p>Email</p>
    <input placeholder="Entrer Email Address" th:field="*{email}" type="email"/>
    <p>Password</p>
    <input placeholder="Entrer Password" th:field="*{password}" type="password"/>
    <p>Telephone</p>
    <input placeholder="Entrer Telephone" th:field="*{telephone}" type="text"/>
    <p>Status</p>
    <!--<input placeholder="Entrer your Status" th:field="*{status_id}" type="text"/>-->
    <select id="status" name="status" th:field="${user.status_id}">
        <option value="0" th:disabled="true">Select status</option>
        <option th:each="status: ${statuses}"
                th:value="${status.status_id}"
                th:text="${status.status}"></option>
    </select>
    <p></p>


    <button type="submit">Register</button>
</form>
<p></p>
<tr>
    <td><a href="home.html" th:href="@{/}">Back To Home</a></td>
    <td><a href="usersList.html" th:href="@{/users}">Back to List</a> </td>
</tr>
<p></p>

</body>
</html>